body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: rgb(160, 60, 150);
  padding: 10px 20px;
  font-weight: 600;
  border-bottom: 2px solid rgb(160, 60, 150);
}

.nav-container a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin: 0px 20px;
  font-size: 1.2rem;
  color: rgb(160, 60, 150);
}

.light {
  background-color: white;
}
 
.dark {
  background-color: #18191a;
}

.nav-container.light {
  background-color: #ffffff;
}
 
.nav-container.dark {
  background-color: #252526;
}
 
.light a,
.light p,
.light h1,
.light h3 {
  color: #000000;
}
 
.dark a,
.dark p,
.dark h1,
.dark h3 {
  color: #ffffff;
}